:host {
  margin: 30px;
  display: grid;
  grid-template-rows:  150px 1fr;
  grid-gap: 20px;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.content-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 15px;
}

.number-generator-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
