<div class="new-competitor-container" [formGroup]="competitorForm">

  <mat-form-field>
    <input matInput type="text" formControlName="name" placeholder="Name of competitor">
  </mat-form-field>


  <mat-form-field>
    <input matInput type="number" formControlName="number" placeholder="Chosen number">
  </mat-form-field>

  <div class="center-button-container">
    <button mat-icon-button [disabled]="competitorForm.get('name').hasError('required')
  || competitorForm.get('number').hasError('required')" (click)="addNewCompetitor()">
      <i class="material-icons">
        add_circle_outline
      </i>
    </button>
  </div>
</div>
